
<table width="100%" border="0">
  <tr valign="top">
    <td bgcolor="#ffffff" width="20%">
      <b></b><br />
    </td>
    <td bgcolor="#ffffff" height="200" width="60%">
      <br />
      <br />
      <h3>"We have to walk in a way that we only print peace and serenity on the Earth. Walk as if you are kissing the Earth with your feet."<h3>
      <h1>- Thich Nhat Hanh</h1>
    </td>
    <td bgcolor="#ffffff" width="20%">
      <b></b><br />
    </td>
   </tr>
<table>
